<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Author:
Martin Sepulveda

In this notebook, Data Science Tools and Ecosystem are summarized:

**Objectives:
- List of Popular Languages
- List of Commonly used Libraries
- Open Source Tools used in Data Science
- Arithmatic Examples

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. English
1. Julia
1. Java
1. C++

Some of the commonly used libraries used by Data Scientists are:
1. Matplotlib
1. Pandas
1. Sklearn
1. Numpy
1. Plotly
1. PyTorch
1. Keras

|Data Science Tools |
|:--- |
|Apache Spark |
| Jupyter Notebook |
|Hadoop |
| Pandas|

### Below are a few examples of evaluating arithmatic expressions in Python

In [1]:
#Below is a simple arithmatic expression to multiply and add
(3*4)+5

17

In [1]:
#This will convert 200 minutes into hours using 60 to divide (1 hour equals 60 minutes)
200 / 60

3.3333333333333335